.member {
  display: flex;

  align-items: center;
  color: black;
  .input_checkbox {
    float: left;
    width: 10%;
  }

  .width {
    width: 175px;
  }
  .extra-width {
    width: 250px;
  }
}
.white {
  color: white;
}
.logout {
  color: white;
  padding: 10px;
  display: flex;
  position: absolute;
  top: 10px;
  float: left;
  right: 0px;
  justify-content: space-between;
  align-items: center;
}

.scrollable_area {
  background-color: white;
  overflow: scroll;
  height: 300px;
}

.dashboard__select {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__select {
  padding: 10px;
}
